ol li ol {
  list-style-type: lower-alpha;
}

ol li ol li ol {
  list-style-type: lower-roman;
}

hr {
  border-color: #999;
}

.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%;
  margin-bottom: 1em;
}

.video-container > .youtube-player {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0; top: 0;
}

img {
  max-width: 600px;
}

blockquote {
  font-size: 16px;
  padding: 11px 22px;
  padding-bottom: 1px;
  border-left: 5px solid #eee;
}
